<robot name="hokuyo_tf" xmlns:xacro="http://wiki.ros.org/xacro">
   <xacro:include filename="$(find hokuyo_description)/urdf/hokuyo.urdf.xacro"/>
   <xacro:include filename="$(find hokuyo_description)/urdf/hokuyo1.urdf.xacro"/>

   <xacro:hokuyo_laser
    xyz="3 1 -0.5"
    rpy="0 0 0"
    parent="base_link">
  </xacro:hokuyo_laser>


  <xacro:hokuyo_laser1
    xyz="-2 5 -0.5"
    rpy="0 0 0"
    parent="base_link">
  </xacro:hokuyo_laser1>



  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>
    
  </link>

</robot>